# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
/tmp

# testing
/coverage

# production
/build
.env
# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*


# Python Dependecies-
/ECO_ENV

# AI Model Weights/Pickles files-
# /weights-pickles
/weights-pickles/LSTM_TemperatureForecastingModel.h5
/weights-pickles/Oil_Spill_Images_Binary_Classification_Model.h5
/weights-pickles/SARIMAX_Indian_Surface_Temperature_Forecasting.pkl
/weights-pickles/WaterPotability_Final.pkl

